header {
    background-color: white;
    height: 70px;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
    /* background-image: url(../images/logo.png);
    align-items: left;
    align-items: center;
    background-repeat: no-repeat;
    background-position: 20px 50%; */
}

#header_logo {
    height: 100%;
    width: 142px;
    background-image: url("../images/logo.png");
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 20px;
}